@{
    ViewBag.Title = "Contacto";
}
<h2>Contacto</h2>
<address>
    Hernandarias entre<br />
    Roman Guerra y Rincon<br />
    <abbr title="Phone">Celular:</abbr>
    098413613
</address>

<address>
    <strong>Soporte:</strong> <a href="mailto:emersonprior@hotmail.com"> emersonprior@hotmail.com </a><br />
</address>