@{
    ViewBag.Title = "Principal";
}

<div class="jumbotron">
    <h1>Bienvenido a la Empresa</h1>
    <p class="lead">En esta aplicación podras manejar todo lo referente a la empresa.</p>
    
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Empezando</h2>
        <p>Recuerda que debes tener cargado destinos, usuarios, transportes y estadias para armar excursiones.
        </p>
    </div>

</div>